<header class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">Kurama</a>
    <nav class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Início
      </a>
      <a class="nav-link" routerLink="/characters" routerLinkActive="active">
        Personagens
      </a>
      <a class="nav-link" routerLink="/tailed-beasts" routerLinkActive="active">
        Bijuus
      </a>
      <a class="nav-link" routerLink="/clans" routerLinkActive="active">
        Clãs
      </a>
    </nav>
  </div>
</header>
